<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top col-12 mx-auto">
    <div class="container">
         <a class="navbar-brand" href="/">SERVKK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/notas">Indice</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/notas/{{nota._id}}?edit={{nota._id}}">Editar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/notas/{{nota._id}}?_method=DELETE">Eliminar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
