<div class="row" style="margin-top:20px">
   <div class="offset-md-2 col-lg-9 col-md-6 mx-auto">
      <div class="card" >
         <div class="card-header text-center">
            Creado por pepe
         </div>
      </div>
   </div>
</div>       