<!doctype html>
<html lang="es">
  <head>
  
    <title>jQuery - Bootstrap</title>

    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <script src="/lib/jquery.js"></script>
    <script src="/lib/bootstrap.min.js"></script> 
    <script src="/tinymce/tinymce.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/style.css" >

	<script>
      tinymce.init({
  		selector: 'textarea#editor', height: 600,
      plugins: ["advlist autolink lists link image charmap print preview code"]
      //"searchreplace visualblocks code fullscreen","insertdatetime media table paste imagetools wordcount"],
		});

  	</script>

  </head>
	
  <body>
  	
      {{{body}}}
 
  </body>
  
</html>