<!doctype html>
<html lang="es">
  <head>
  
    <title>jQuery - Bootstrap</title>

    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <script src="/lib/jquery.js"></script>
    <script src="/lib/bootstrap.min.js"></script> 
    <script src="/tinymce/tinymce.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/style.css" >

	<script>
      
      /*tinyMCE.init({
        
theme : "advanced",
mode : "textarea",
plugins : "fullpage",
theme_advanced_buttons1 : "link, unlink,",
language : "es",
force_br_newlines : true,
force_p_newlines : false,
forced_root_block : false,
});

*/    tinymce.init({
  		selector: 'textarea#editor', 
      height: 600,
      plugins: ["advlist autolink lists link image charmap print preview anchor","searchreplace visualblocks code fullpage"
      ,"insertdatetime media table paste imagetools wordcount"],
      language : "es"
		});

  	</script>

  </head>
	
  <body>
  	
      {{{body}}}
 
  </body>
  
</html>